* {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Banner */

.banner {
    position: relative;
    width: 100%;
    height: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(4, 214, 214);
    background: linear-gradient(180deg, rgba(9, 131, 231, 0.52) 0%, #b9d3ec 50%, #b9d3ec 50%, rgba(9, 131, 231, 0.52) 100%);
}

.banner-image {
    width: 80%;
    height: auto;
    object-fit: contain;
    object-position: center;
}

@media (max-width: 767px) {
    .banner-image {
        width: 100%;
        /* Mobil cihazlarda genişliği %100 yapar */
        height: auto;
        /* Yükseklik oranını korur */
        object-fit: contain;
        /* Oranı koruyarak fotoğrafın tamamını gösterir */
    }
}

#projects img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#projects h3 {
    color: rgb(65, 62, 109);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.fas,
.fab {
    margin-right: 8px;
    /* İkon ile metin arasındaki boşluk */
    color: #4a4a4a;
    /* İkon rengi */
}

.navbar-nav.ml-auto {
    margin-left: auto;
}

.nav-item .nav-link {
    display: flex;
    align-items: center;
}

.nav-item .nav-link .fab {
    margin-right: 5px;
}